body{
    display: flex;
    margin: 0;
}

#logo-section {
    display: flex;
    width: 40%;
    height: 100vh;
    background-image: url(/assets/images/pexels-ricky-esquivel-1926988.jpg);
    background-size: cover;
}

#form-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-wrap: wrap;
}